<div class="footerArea2" style="display: none;">
    <div class="container footer">
        <div class="detail_right">
            <!-- <div class="logo_footer" style="padding-bottom: 20px;">
                <div class="menu_footer_">
                    <span class="links_footer" routerLink="/home" style="border-left: 0px !important;" tabindex="0" ng-reflect-router-link="/home">หน้าแรก</span>
                    <span class="links_footer" routerLink="/page/register" tabindex="0">สมัครสมาชิก</span>
                    <span class="links_footer" routerLink="/page/deposit" tabindex="0">แจ้งฝาก</span>
                    <span class="links_footer" routerLink="/page/withdraw" tabindex="0">แจ้งถอน</span>
                    <span class="links_footer" routerLink="/promotion" tabindex="0">โปรโมชั่น</span>
                    <span class="links_footer" routerLink="/news" tabindex="0">บทความ</span>
                    <span class="links_footer" routerLink="/page/contact" style="border-right: 0px !important;" tabindex="0">ติดต่อเรา</span>
                </div>
            </div> -->
            <div class="icon_area_footer" style="text-align: center;padding-top: 20px;padding-bottom: 20px;">
                <img src="/assets/images/icon/logo-casino.png" alt="">
            </div>
            <div class="text-copyright">
                Copyright © 2020 IMIZ789.COM All Rights Reserved.
            </div>
        </div>
    </div>
</div>