<ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
    <div ngxSlickItem *ngFor="let slide of imageUrls" class="slide">
        <img src="{{ slide.img }}" alt="" width="100%">
    </div>
</ngx-slick-carousel>
<div class="content_">
    <div class="container content_area_set">

        <div class="hvr-push hover icon_home">
            <a href="https://wallet-imiwin.com/register?token=70657dvos548e3004pa81809bvows6b49dcc5cf9" class=" links active ">
                <img src="/assets/images/icon/icon-7.png" alt="">
            </a>
        </div>

        <div class="hvr-push hover icon_home">
            <a href="https://wallet-imiwin.com/deposit?token=70657dvos548e3004pa81809bvows6b49dcc5cf9" class=" links active ">
                <img src="/assets/images/icon/icon-8.png" alt="">
            </a>
        </div>
    </div>
    <div class="row content_login">
        <div class="container" style="background: unset;">
            <div class="area_default">
                <div class="detail_L">
                    <div class="text-online">
                        บริการออนไลน์ตลอด 24 ชั่วโมง
                    </div>
                    <div class="text-contact">
                        ติดต่อสอบถาม ฝากเงิน-ถอนเงิน แจ้งปัญหา
                    </div>
                    <div class="qr_image">
                        <a href="https://line.me/ti/p/%40787ismuq" target="_blank">
                            <img class="hvr-push" src="/assets/images/icon/qr-code.png?v=1.1" alt="">
                        </a>

                    </div>

                    <div class="line_image">
                        <img src="/assets/images/icon/LINE@.png?v=1.1" alt="">
                    </div>
                </div>
                <div class="detail_R">

                    <a href="https://wallet-imiwin.com/login?token=70657dvos548e3004pa81809bvows6b49dcc5cf9">
                        <img class="image_click" src="/assets/images/content/click-login.png" alt="">
                    </a>

                    <!-- <div class="login_area">
                        <div class="text_login">
                            เข้าสู่ระบบ
                        </div>
                        <form (ngSubmit)="onSubmit(form)" #form="ngForm" autocomplete="off">
                            <input type="text" name="username" [(ngModel)]="username" class="form-control input_login" placeholder="USERNAME">
                            <input type="password" name="password" [(ngModel)]="password" class="form-control input_login" placeholder="PASSWORD">


                            <div class="btn_login_area">
                                <button type="submit" class="btn btn-danger">เข้าสู่ระบบ</button>
                            </div>
                        </form>
                    </div> -->
                </div>
            </div>
            <div class="area_m">
                <div class="detail_L">
                    <a href="https://wallet-imiwin.com/login?token=70657dvos548e3004pa81809bvows6b49dcc5cf9">
                        <img class="image_click" src="/assets/images/content/click-login.png" alt="">
                    </a>
                    <!-- <div class="login_area">
                        <div class="text_login">
                            เข้าสู่ระบบ
                        </div>
                        <form (ngSubmit)="onSubmit(form)" #form="ngForm" autocomplete="off">
                            <input type="text" name="username" [(ngModel)]="username" class="form-control input_login" placeholder="USERNAME">
                            <input type="password" name="password" [(ngModel)]="password" class="form-control input_login" placeholder="PASSWORD">


                            <div class="btn_login_area">
                                <button type="submit" class="btn btn-danger">เข้าสู่ระบบ</button>
                            </div>
                        </form>
                    </div> -->
                </div>
                <div class="detail_R">
                    <div class="text-online">
                        บริการออนไลน์ตลอด 24 ชั่วโมง
                    </div>
                    <div class="text-contact">
                        ติดต่อสอบถาม ฝากเงิน-ถอนเงิน แจ้งปัญหา
                    </div>
                    <div class="qr_image">
                        <img src="/assets/images/icon/qr-code.png" alt="">
                    </div>
                    <div class="line_image">
                        <img src="/assets/images/icon/LINE@.png" alt="">
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="row step_register_area" style="position: relative;">
        <div class="container" style="background: unset;">
            <div style="color:#FED200;text-align: center;width: 100%;font-size: 1.5em;">
                ขั้นตอนการสมัครสมาชิก IMIZ789
            </div>
            <div class="row">
                <div class="hvr-push hover images_register">
                    <img src="/assets/images/content/step-1.png" alt="">
                </div>
                <div class="hvr-push hover images_register">
                    <img src="/assets/images/content/step-2.png" alt="">
                </div>
                <div class="hvr-push hover images_register">
                    <img src="/assets/images/content/step-3.png" alt="">
                </div>
            </div>
            <div class="row">
                <div class="hvr-push hover images_register">
                    <img src="/assets/images/content/sport.png" alt="">
                </div>
                <div class="hvr-push hover images_register">
                    <img src="/assets/images/content/casino.png" alt="">
                </div>
                <div class="hvr-push hover images_register">
                    <img src="/assets/images/content/e-game.png" alt="">
                </div>
            </div>
            <div class="row">
                <div class="hvr-push hover images_register">
                    <img src="/assets/images/content/fishgame.png" alt="">
                </div>
                <div class="hvr-push hover images_register">
                    <img src="/assets/images/content/lotto.png" alt="">
                </div>
                <div class="hvr-push hover images_register">
                    <img src="/assets/images/content/cockfight.png" alt="">
                </div>
            </div>
        </div>

    </div>
    <div class="row garantee_area area_m">
        <div style="color:white;text-align: center;width: 100%;font-size: 1.5em;">
            เล่นได้ จ่ายจริง การันตีเว็บอันดับ 1 เชื่อถือได้ 100%
        </div>
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
            <div ngxSlickItem *ngFor="let slide of imageUrls2" class="slide">
                <img src="{{ slide.img }}" alt="" width="100%">
            </div>
        </ngx-slick-carousel>
    </div>
    <div class="row garantee_area area_default">
        <div style="color:white;text-align: center;width: 100%;font-size: 1.2em;">
            เล่นได้ จ่ายจริง การันตีเว็บอันดับ 1 เชื่อถือได้ 100%
        </div>
        <div class="container" style="background: unset;">
            <ngx-slick-carousel class="carousel2" #slickModal="slick-carousel" [config]="slideConfig2">
                <div ngxSlickItem *ngFor="let slide of imageUrls2" class="slide padding_slide">
                    <img src="{{ slide.img }}" alt="" width="100%">
                </div>
            </ngx-slick-carousel>
        </div>

    </div>
    <div class="row last_area" style="position: relative;">
        <div class="container" style="background: unset; width: 100%; float: left;">
            <div class="hvr-push hover images_register">
                <img src="/assets/images/content/popup-1.png?v=1.1" alt="">
                <div class="text_last_area">
                </div>
            </div>
            <div class="hvr-push hover images_register">
                <img src="/assets/images/content/popup-2.png?v=1.1" alt="">
                <div class="text_last_area">
                </div>
            </div>
            <div class="hvr-push hover images_register">
                <img src="/assets/images/content/popup-3.png?v=1.1" alt="">
                <div class="text_last_area">
                </div>
            </div>
        </div>

    </div>
    <div class="row bank_area" style="position: relative;">
        <img src="/assets/images/content/banking.jpg" alt="">
    </div>
</div>
<!-- <div class="content_ container">
    <div class="container content_area_set">
        <hr style="height: 1px;  background-color: red;">
        <div _ngcontent-oex-c6="" class="dataContentBot">
            <div class="row">
                <div class="detailRight login_m">
                    <div class="login_area">
                        <div class="login_text" style="padding-top: 0;">

                            <form _ngcontent-ftw-c0="" action="https://ufa699bet.com/api/loginUfabet.php" class="centered-form ng-pristine ng-invalid ng-touched" data-toggle="validator" id="form2" method="post">
                                <div class="form_input">
                                    <input type="text" name="txtUserName2" id="txtUserName2" style="text-align:center" placeholder="ชื่อผู้ใช้" class="form-control input_login">
                                    <input type="password" name="password2" id="password2" style="text-align:center" placeholder="รหัสผ่าน" class="form-control input_login">
                                    <input type="hidden" name="ac" style="text-align:center" value="loginUfabet" class="form-control input_login">

                                </div>
                                <a _ngcontent-ftw-c0="" class="btn-submit width-btn" href="javascript:doPostBackBetufa2('btnSignIn','')" id="btnSignIn" style="text-transform: uppercase;" tabindex="5">
                                    <span class="badge badge-danger btn_login">เข้าสู่ระบบ</span>
                                </a>

                            </form>

                        </div>
                    </div>
                </div>
                <div class="detailLeft">
                    <div _ngcontent-oex-c6="" class="row">
                        <div class="col hvr-push hover icon_home">
                            <img routerLink='/page/register' src="/assets/images/content/register.png" style="width:100%" alt="">
                        </div>
                        <div class="col hvr-push hover icon_home">
                            <img routerLink='/page/deposit' src="/assets/images/content/DEPOSIT.png" alt="">
                        </div>
                        <div class="w-100"></div>

                        <div class="col hvr-push hover icon_home">
                            <a href="https://lin.ee/vloRpDi" target="_blank"><img src="/assets/images/content/line.png?v=1.1" alt=""></a>
                        </div>
                        <div class="col hvr-push hover icon_home">
                            <img routerLink='/page/withdraw' src="/assets/images/content/WITHDRAW.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="detailRight login_full">
                    <div class="login_area">
                        <div class="login_text">
                            <div class="logo_text_login">
                                <img src="/assets/images/logo/logo.png" alt="">
                            </div>
                            <form _ngcontent-ftw-c0="" action="https://ufa699bet.com/api/loginUfabet.php" class="centered-form ng-pristine ng-invalid ng-touched" data-toggle="validator" id="form1" method="post">
                                <div class="form_input">
                                    <input type="text" name="txtUserName" id="txtUserName" style="text-align:center" placeholder="ชื่อผู้ใช้" class="form-control input_login">
                                    <input type="password" name="password" id="password" style="text-align:center" placeholder="รหัสผ่าน" class="form-control input_login">
                                    <input type="hidden" name="ac" style="text-align:center" value="loginUfabet" class="form-control input_login">

                                </div>
                                <a _ngcontent-ftw-c0="" class="btn-submit width-btn" href="javascript:doPostBackBetufa('btnSignIn','')" id="btnSignIn" style="text-transform: uppercase;" tabindex="5">
                                    <span class="badge badge-danger btn_login">เข้าสู่ระบบ</span>
                                </a>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <hr style="height: 1px;  background-color: red;">






            <div class="row">
                <div class="info_home">
                    <div class="text_home" style="color:#FCD900 ;">
                        สมัคร UFABET699 แทงบอลออนไลน์
                    </div>
                    <div class="text_des_home">
                        <span style="color: red;">UFABET699</span> ในปัจจุบันนั้นเว็บ<span style="color: green;">พนันออนไลน์</span>นั้นเกิดขึ้นอย่างแพร่หลาย และมีมากมายให้ลูกค้าได้เลือกหาที่จะเล่นกัน แต่วันนี้เราจะมาแนะนำเว็บไซต์น้องใหม่ล่าสุดสดๆร้อนๆนั่นก็คือ
                        เว็บไซต์น้องใหม่มาแรงแซงทุกเว็บของยุคนี้ สีสันสุดใส เข้าใจง่าย ตัวหนังสือชัดเจน รองรับหลายภาษา รวมถึงภาษาไทย เรียบง่ายไม่ยุ่งยาก คัดสรรค์กีฬามามากมาย ไม่ว่าจะเป็นฟุตบอล บาสเกตบอล เทนนิส วอลเล่ย์บอล แม้แต่แบตมินตัน ก็ยังมีให้ลูกค้าได้เสียงโชคกัน
                        ในส่วนของฟุตบอลนั้นมีฟุตบอลหลากหลายประเทศ ลีคต่างๆ มีให้เล่นกันเยอะมาก ในส่วนของฟุตบอลไทยนั้น ทางเว็บก็ยังใส่ไว้ให้ลูกค้าได้เล่นกัน ลูกค้าจะพบกับการเดิมพันหลากหลาย ทำให้คุณเพลิดเพลินและยังได้รับส่วนลด การเดิมพันซึ่งจะทำให้ได้รับเงินเป็นจำนวนมากขึ้นกว่า
                        การเดิมพันที่เกิดขึ้นจริง ส่วนพิเศษของเว็บไซต์ นั้นก็คือท่านสามารถชมฟุตบอลสดผ่านเว็ฐไซต์ของ <span style="color: red;">UFABET699</span> ได้เลยถือได้ว่าคุ้มเกินคุ้ม
                    </div>
                </div>
            </div>

            <div class="row" class="register_step_area">
                <img src="/assets/images/content/register-step.jpg?v=1.1" style="width: 100%;" alt="">
            </div>




            <div class="row" style="padding-top:20px;padding-bottom: 20px;">
                <div class="col-sm icon_area">
                    <img src="/assets/images/content/sport.jpg" alt="">
                    <img src="/assets/images/content/casino.jpg" alt="">
                    <img src="/assets/images/content/ufagame.jpg" alt="">
                </div>
                <div class="col-sm icon_area">
                    <img class="image_area3" src="/assets/images/icon/deposit-withdraw.jpg?v=1.1" alt="">
                </div>

                <div class="col-sm icon_area">
                    <img class="image_area3" src="/assets/images/icon/no-transfer.jpg?v=1.1" alt="">
                </div>
            </div>


            <div class="row">
                <div class="title_text" style="color:white;width: 100%; position: relative;"> <i class="arrow right"></i>ข่าวสาร
                    <div style="position: absolute;
                    right: 20px;
                    top: 6px; cursor: pointer;" [routerLink]="['/news']" routerLinkActive="router-link-active">ดูเพิ่มเติม</div>
                </div>

                <div class="col-sm icon_area">

                </div>
                <div _ngcontent-oex-c6="" class="row news_area">
                    <ng-container *ngFor="let todo of todoList; index as i; first as isFirst;let l = count">
                        <div _ngcontent-oex-c6="" class="col-sm-6   news_area_card" tabindex="0" routerLink="/news/news-detail/{{todo.adjust_page_title}}-{{todo.adjust_page_id}}">
                            <div class="news_card">
                                <div class="detailLeftNews">
                                    <div _ngcontent-oex-c6="" class="image-news" [ngStyle]="{'background-image':'url('+todo.adjust_image+')'}">
                                        &nbsp;
                                    </div>
                                </div>
                                <div class="detailRightNews">
                                    <div _ngcontent-oex-c6="" class="text-news"> {{todo.adjust_page_title}} </div>
                                    <div _ngcontent-oex-c6="" class="des-news"> {{todo.adjust_page_short_description}} </div>
                                    <div _ngcontent-oex-c6="" class="des-news-time"> 26 มิถุนายน 2563 </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>

    </div>
</div>

<div _ngcontent-gyx-c3="" attr="https://lin.ee/vloRpDi" class="qr-popup"><i _ngcontent-gyx-c3="" aria-hidden="true" class="fa fa-window-close fa-6 close-qr"></i></div> -->